.header {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    h1 {
        font-size: 30px;
        font-weight: 700;
    }
    a {
        text-decoration: none;
        color: #3f40f0;
        margin-left: 5px;
        font-weight: bold;
    }
   
}