$inputColor: #e3e7ed;
$primarColor: #3f40f0;
.input-field {
    position: relative;
    border: 2px solid $inputColor;
    padding: 5px 15px;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    input[type]:not([type="checkbox"]) {
        border: none;
        outline: none;
        color: #54515f;
        vertical-align: sub;
        width: 100%;
        &:focus {
            outline:none
        }
    }
    label {
        position:absolute;
        top:-10px;
        left:20px;
        color: #989eac;
        background-color:white;
        padding: 0 4px;
        font-size: 12px;
    }
}
input:focus:focus-visible ~ .input-field {
    color: red;
}
.input-field:focus-within {
  border-color: $primarColor;
  .input-label {
    color: $primarColor
  }
}

  .pwd {
    position: absolute;
    left: calc(100% + 10px);
    top: -100%;
  }
  .bi {
    color: #9d9d9d;
    position: absolute;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.bi-check2 {
  color: #29c946
}
  .validation-error {
    color: red;
    font-size: 10px;
    position: relative;
    margin-top: 10px;
  }

  @media screen and (max-width: 790px) {
    .pwd {
    top: -110px;
    right: 0;
    left: unset;
    background-color: white;
    }
}